{% extends 'base/base.html' %}
{% block head_title %}
proyecto
{%endblock head_title %}
{% block tabla %}
<main role="main">
    <style>
       body{
        background:black;
    }
        img.centro{
            max-width: 100%;
            vertical-align: top;
            margin-left: 15%;
            margin-right: 15%;
        }       
    </style> 
    <section class="jumbotron text-center" ;    >
      <div class="container" >
        <h1 class="jumbotron-heading">CAPITAN AMERICA</h1>
        <p class="lead text-muted">datos del capitan america sus amigos,sus cooperadores, enemigos y personas salvadas </p>
      </div>
    </section>
                </div>
              </div>
            </div>
          </div>
  </main>
<body>  
<img  src="static/vengadores.jpg" alt="" class="centro";>
 </body>
{%endblock tabla%}